img{
    height:30px;
}

li {
    display: inline-flex;
    align-items: center;
    margin: 5px;  
}

footer {
    color: var(--black);   
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: var(--black);
}